.card {
  background: var(--color-background-card);
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  box-shadow: 0 0 0.5rem #e0ffff2c;
}

.img {
  grid-row: 1 / 7;
  height: 10rem;
  width: 10rem;
  border-radius: 5rem;
}

.card > * {
  margin: 0;
}

.card > *:nth-child(even) {
  align-self: end;
}

.card > *:nth-child(odd) {
  align-self: start;
}
